<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--CSS-->
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontAwesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/ze.css}">
    <link rel="icon" th:href="@{/img/logo.png}">
    <title>Editar usuário</title>
</head>

<body class="light-mode">
<nav class="navbar">
    <ul class="navbar-nav">
        <li class="logo">
            <a th:href="@{/}" class="nav-link">
                <span class="link-text logo-text">Betterclass</span>
            </a>
        </li>

        <li class="nav-item">
            <a th:href="@{/}" class="nav-link">
                <img class="icon" th:src="@{/img/home.svg}" alt="">
                <span class="link-text">Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a th:href="@{/usuario/list}" class="nav-link">
                <img class="icon icon-usuarios" th:src="@{/img/usuarios.svg}" alt="">
                <span class="link-text">Usuários</span>
            </a>
        </li>

        <li class="nav-item">
            <a th:href="@{/usuario/viewUser}" class="nav-link">
                <img class="icon" th:src="@{/img/perfil.svg}" alt="">
                <span class="link-text">Perfil</span>
            </a>
        </li>

        <li class="nav-item">
            <a th:href="@{/sala/list}" class="nav-link">
                <img class="icon" th:src="@{/img/salas.svg}" alt="">
                <span class="link-text">Salas</span>
            </a>
        </li>

        <li class="nav-item theme-switch-wrapper" id="themeButton">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox"/>
                <div class="slider round"></div>
            </label>
        </li>
    </ul>
</nav>
<div class="container-2">

    <div class="profile-header">

        <form th:action="@{/usuario/save}" th:object="${usuario}" method="POST" enctype="multipart/form-data">

            <div class="profile-img">
                <img class="img-view" th:if="${nullFoto}" th:src="@{/img/null.jpg}" width="100px" height="100px"/>
                <img class="img-view" th:unless="${nullFoto}" th:src="@{${usuario.get().fotoImagePath}}" width="100px"
                     height="100px"/>
            </div>

            <div class="hidden">
                <label>Código</label> <input class="form-control" type="number" th:field="*{id}" readonly>
            </div>

            <div class="alert alert-danger" id="modalErro">
                <h4>Atenção!</h4>
                <span>Erro ao salvar! Os seguintes campos já foram cadastrados:</span>
                <span id="spanErroEmail"></span>
                <span id="spanErroLogin"></span>
            </div>

            <div class="form">
                <label>Nome</label>
                <input id="inputs" type="text" th:field="${usuario.nome}" placeholder="Digite seu nome completo."
                       minlength="8" readonly>
            </div>

            <div class="form">
                <label>CPF</label>
                <input id="inputs" type="text" th:field="${usuario.cpf}" placeholder="xxx-xxx-xxx-xx"
                       onkeypress="$(this).mask('000.000.000-00')" minlength="11" maxlength="11" readonly>
            </div>

            <div class="form">
                <label>E-mail</label>
                <input id="inputs" type="email" th:field="${usuario.email} " placeholder="Digite seu e-mail. "
                       minlength="10" required autocomplete="off">
            </div>

            <div class="form">
                <label>Login</label>
                <input id="inputs" type="text" th:field="${usuario.login}" placeholder="Digite seu login. "
                       minlength="8" maxlength="30" required autocomplete="off">
            </div>

            <div class="form">
                <label>Senha</label>
                <input type="password" id="inputs" th:field="${usuario.senha}" placeholder="No mínimo 8 letra. "
                       minlength="8" maxlength="30" required autocomplete="off">
            </div>

            <div class="form form-img">
                <label class="lb2"></label>
                <input type="file" name="image" id="fileImage" accept="image/png, image/jpeg"/>
                <img id="thumbnail" alt="Insira sua foto!"/>
            </div>


            <small class="form-text text-muted cds-cd-dentro-segunda ">Selecione o horário de
                Segunda.</small>
            <select th:field="*{salas} " class="form-control cds-options-sala " multiple="multiple " size="10 ">
                <option th:each="h : ${salaSegunda} " th:value="${h.id} " th:text="${h.hora} ">
                </option>
            </select>

            <small class="form-text text-muted ">Selecione o horário de Terça.</small>
            <select th:field="*{salas} " class="form-control cds-options-sala " multiple="multiple " size="10 ">
                <option th:each="h : ${salaTerca} " th:value="${h.id} " th:text="${h.hora} ">
                </option>
            </select>

            <small class="form-text text-muted ">Selecione o horário de Quarta.</small>
            <select th:field="*{salas} " class="form-control cds-options-sala " multiple="multiple " size="10 ">
                <option th:each="h : ${salaQuarta} " th:value="${h.id} " th:text="${h.hora} ">
                </option>
            </select>

            <small class="form-text text-muted ">Selecione o horário de Quinta.</small>
            <select th:field="*{salas} " class="form-control cds-options-sala " multiple="multiple " size="10 ">
                <option th:each="h : ${salaQuinta} " th:value="${h.id} " th:text="${h.hora} ">
                </option>
            </select>

            <small class="form-text text-muted ">Selecione o horário de Sexta.</small>
            <select th:field="*{salas} " class="form-control cds-options-sala " multiple="multiple " size="10 ">
                <option th:each="h : ${salaSexta} " th:value="${h.id} " th:text="${h.hora} ">
                </option>
            </select>

            <small class="form-text text-muted ">Selecione o horário de Sábado.</small>
            <select th:field="*{salas} " class="form-control cds-options-sala " multiple="multiple " size="10 ">
                <option th:each="h : ${salaSabado} " th:value="${h.id} " th:text="${h.hora} ">
                </option>
            </select>

            <div class="btns">

                <button class="btn btn-secondary btn-width cds-botao-cancelar" type="button"
                        onclick="window.location.href='../list'">
                    <i class="fa fa-ban" aria-hidden="true "></i> Cancelar
                </button>

                <button class="btn btn-success btn-width cds-botao-salvar" type="submit">
                    <i class="fa fa-save" aria-hidden="true"></i> Salvar
                </button>
            </div>

        </form>
    </div>
</div>


<!--JAVASCRIPT-->
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js}"></script>
<script th:src="@{/bootstrap-5.0.0/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:inline="javascript">
        /*<![CDATA[*/

        var erroLogin = /*[[${erroLogin}]]*/ 'default';
        var erroEmail = /*[[${erroEmail}]]*/ 'default';

        document.getElementById("modalErro").style.display = 'none';

        function openModal() {
            document.getElementById("modalErro").style.display = 'block';
        }

        function hideModal() {
            document.getElementById("modalErro").style.display = "none";
        }

        if (erroLogin == "true" || erroEmail == "true") {

            openModal();

            if (erroEmail == "true") {
                document.getElementById("spanErroEmail").innerHTML = "E-mail;";
            }

            if (erroLogin == "true") {
                document.getElementById("spanErroLogin").innerHTML = "Login;";
            }
        }


        /*]]>*/
</script>
<script>
    const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');
    const currentTheme = localStorage.getItem('theme');


    if (currentTheme) {
        document.documentElement.setAttribute('data-theme', currentTheme);
        if (currentTheme === 'dark') {
            toggleSwitch.checked = true;

        }
    }

    function switchTheme(e) {
        if (e.target.checked) {
            document.documentElement.setAttribute('data-theme', 'dark');
            localStorage.setItem('theme', 'dark');

        } else {
            document.documentElement.setAttribute('data-theme', 'light');
            localStorage.setItem('theme', 'light');

        }
    }

    toggleSwitch.addEventListener('change', switchTheme, false);
</script>


</body>

</html>