<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Adicionar Sala</title>

    <link rel="stylesheet" th:href="@{/bootstrap-5.0.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/kauan.css}">
    <link rel="stylesheet" th:href="@{/fontAwesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/clockpicker.css}">
    <link rel="icon" th:href="@{/img/logo.png}">




</head>

<body class="light-mode">
    <nav class="navbar">
    <ul class="navbar-nav">
        <li class="logo">
            <a th:href="@{/}" class="nav-link">
                <span class="link-text logo-text">Betterclass</span>
            </a>
        </li>

        <li class="nav-item">
            <a th:href="@{/}" class="nav-link">
                <img class="icon" src="../img/home.svg" alt="">
                <span class="link-text">Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a th:href="@{/usuario/list}" class="nav-link">
                <img class="icon icon-usuarios" src="../img/usuarios.svg" alt="">
                <span class="link-text">Usuários</span>
            </a>
        </li>

        <li class="nav-item">
            <a th:href="@{/usuario/viewUser}" class="nav-link">
                <img class="icon" src="../img/perfil.svg" alt="">
                <span class="link-text">Perfil</span>
            </a>
        </li>

        <li class="nav-item">
            <a th:href="@{/sala/list}" class="nav-link">
                <img class="icon" src="../img/salas.svg" alt="">
                <span class="link-text">Salas</span>
            </a>
        </li>

        <li class="nav-item theme-switch-wrapper" id="themeButton">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox"/>
                <div class="slider round"></div>
            </label>
        </li>
    </ul>
</nav>
    <div class="container-all">
        <div class="container-2">

            <form class="container-add-sala" th:action="@{/sala/save}" th:object="${sala}" method="POST">
                <div class="salas-add-full">
                    <div class="sala-add-1">
                        <label>Nome</label>
                        <input class="form-input form-input-titulo" type="text" th:field="*{titulo}" autocomplete="off"
                            placeholder="Nome da sala" required>
                        <br><br>
                        <label>Local</label>
                        <input class="form-input form-input-local" type="text" th:field="*{local}" autocomplete="off"
                            placeholder="Local da reunião" required>
                        <br><br>
                        <label>Descrição</label>
                        <input class="form-input form-input-descricao" type="text" th:field="*{descricao}"
                            autocomplete="off" placeholder="Descrição da sala" required>
                        <br><br>
                        <label>Dia da semana:</label>
                        <select class="form-select" th:field="*{semana}" required>

                            <option value="Segunda-feira">Segunda-feira</option>
                            <option value="Terça-feira">Terça-feira</option>
                            <option value="Quarta-feira">Quarta-feira</option>
                            <option value="Quinta-feira">Quinta-feira</option>
                            <option value="Sexta-feira">Sexta-feira</option>
                            <option value="Sábado">Sábado</option>

                        </select>
                        <br>

                        <div class="form-group form-group-add-hora clockpicker" data-autoclose="true">
                            <label>Horário</label><br>
                            <input type="text" class="form-input form-input-horario" th:field="*{hora}"
                                autocomplete="off" placeholder="Horário da reunião">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                        <br>
                        <label>Limite de pessoas</label>
                        <input class="form-input" type="number" th:field="*{limite}" min="1" max="50" required
                            autocomplete="off" onfocus="this.value=''">
                    </div>
                    <div class="sala-add-2">
                        <div class="head-cores">
                            <label class="label-cores">Cores</label>
                        </div>
                        <div class="body-cores">
                        </div>
                        <div class="sala-add-btn">
                            <button class="btn btn-width  btn-add-sala" type="submit">
                                Salvar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!--JAVASCRIPT-->
    <script th:src="@{/bootstrap-5.0.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>

    <script th:src="@{/js/clockpicker.js}"></script>
    <script type="text/javascript">
        $('.clockpicker').clockpicker();
    </script>
    <script>
        const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');
        const currentTheme = localStorage.getItem('theme');


        if (currentTheme) {
            document.documentElement.setAttribute('data-theme', currentTheme);
            if (currentTheme === 'dark') {
                toggleSwitch.checked = true;

            }
        }

        function switchTheme(e) {
            if (e.target.checked) {
                document.documentElement.setAttribute('data-theme', 'dark');
                localStorage.setItem('theme', 'dark');

            } else {
                document.documentElement.setAttribute('data-theme', 'light');
                localStorage.setItem('theme', 'light');
                
            }
        }

        toggleSwitch.addEventListener('change', switchTheme, false);
    </script>   

</body>

</html>