<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

</head>

<body>
<!-- NAVBAR -->

<form th:action="@{/sala/save}" th:object="${sala}" method="POST">

    <label>Código</label>
    <input class="form-control" type="text" th:field="${sala.id}" required hidden>

    <label>Nome da reunião</label>
    <input class="form-control" th:field="${sala.titulo}" required>

    <label>Local área da reunião</label>
    <input class="form-control" th:field="${sala.local}" required>

    <label>Descrição da reunião</label>
    <input class="form-control" th:field="${sala.descricao}" required>

    <label>Dia da semana</label>
    <select class="form-control" th:field="${sala.semana}" required>

        <option value="Segunda-feira">Segunda-feira</option>
        <option value="Terça-feira">Terça-feira</option>
        <option value="Quarta-feira">Quarta-feira</option>
        <option value="Quinta-feira">Quinta-feira</option>
        <option value="Sexta-feira">Sexta-feira</option>
        <option value="Sábado">Sábado</option>

    </select>

    <label>Horário de treino</label>
    <input type="text" class="form-control" th:field="*{hora}" autocomplete="off">


    <label>Limite de pessoas</label>
    <input class="form-control" type="number" th:field="${sala.limite}" min="1" max="50" required
           autocomplete="off">

    <button class="btn btn-width btn-add-hora-cancelar" type="button"
        onclick="window.location.href='../sala/list'">
        <i class="fa fa-ban" aria-hidden="true"></i> Voltar
    </button>
    <button class="btn btn-width  btn-add-hora-salvar" type="submit">
        <i class="fa fa-save" aria-hidden="true"></i> Editar
    </button>

</form>





</body>

</html>