:root {
  --white: #FFFFFF;
  --black: #393939;

  --white2: #F6F6F6;
  --black2: #333333;

  --purple: #441CC1;
  --purple2: #6C63FF;

  --grey: #ACACAC;
  --grey2: #646464;

  --white3: #f1f1f1;
  --black3: #2B2B2B;

  --grey3: #D8D8D8;

  --white4: #dddddd;
  --black4: #272727;

  --container-bg-color: var(--white);
  --body-bg-color: var(--white2);
  --titulo-color: var(--purple);
  --input-switch: var(--grey3);
  --bolinha-switch: var(--white);
  --subtitulo-section: var(--black);
  --container-columns: var(--white4);
  --container-columns-2: var(--white);

  --home-img-1: url("../img/home-1-light.svg");
  --home-img-2: url("../img/home-2-light.svg");
  --home-img-bg-2: url("../img/fundo-2-light.svg");
  --home-img-bg-3: url("../img/fundo-3-light.svg");
}

[data-theme="dark"] {
  --container-bg-color: var(--black);
  --body-bg-color: var(--black2);
  --titulo-color: var(--purple2);
  --input-switch: var(--black3);
  --bolinha-switch: var(--grey2);
  --subtitulo-section: var(--white);
  --container-columns: var(--black4);
  --container-columns-2: var(--black4);
  --home-img-1: url("../img/home-1-dark.svg");
  --home-img-2: url("../img/home-2-dark.svg");
  --home-img-bg-2: url("../img/fundo-2-dark.svg");
  --home-img-bg-3: url("../img/fundo-3-dark.svg");
}

body {
  background-color: var(--body-bg-color);
  overflow-x: hidden;
  font-style: bold;
  font-family: Bahnschrift;
}

/* -- COMEÇO NAVBAR-- */

.navbar {
    position: fixed;
    background-color: white;
    transition: width 300ms;
    overflow: hidden;
    z-index: 1;
}

.navbar-nav {
    background-color: white;
    list-style: none;
    padding-right: 120px;
    padding-left: 20px;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
    margin-left: -30px;
}

.navbar-nav .nav-link {
    padding-right: 120px;
    padding-left: 5px;
}

.nav-link {
    padding-right: 120px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--black);
    background-color: white;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: #0dcaf0;
    color: white;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
    padding-left: 10px;
    margin-left: -50px;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    font-size: 25px;
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}

.solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
}

.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}

.solar #solarIcon {
    display: block;
}
/*-- FINAL NAVBAR --*/

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  /* transition: background-color 0.6s ease, color 1s ease; */
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.display-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
  align-items: center;
}

.direction-row {
  flex-direction: row;
}

.direction-column {
  flex-direction: column;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon-usuarios {
  width: 35px;
  height: 20px;
}

.section-1 {
  width: auto;
  height: 100vh;

}

.container-home-1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-1 {
  width: 627px;
  display: inline-block;

}

.titulo-home-1 {
  color: var(--titulo-color);
  font-family: Bahnschrift, Bold;
  font-size: 55px;
  margin-bottom: 50px;
}

.subtitulo-home-1 {
  font-family: Bahnschrift, Regular;
  font-size: 25px;
  margin-bottom: 50px;
  color: var(--subtitulo-section);
}

.button-home-1 {
  width: 292px;
  height: 57px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid var(--titulo-color);
  color: var(--titulo-color);
  font-family: Bahnschrift, Bold;
  font-size: 25px;
}

.container-2 {
  width: 627px;
  display: inline-block;
  margin-left: 50px;
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;

}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  margin-top: 50px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked+.slider {
  background-color: #292929;
}

input:checked+.slider:before {
  transform: translateX(26px);
  background-color: rgb(146, 146, 146);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* SECTION 2 */

.background-2 {
  background-image: var(--home-img-bg-2);
  background-repeat: no-repeat;
}

.container-columns {
  width: 635px;
  height: 150px;
  background-color: var(--container-columns);
  margin-bottom: 40px;
}

.linha {
  width: 149px;
  height: 5px;
  background-color: var(--titulo-color);
  margin-bottom: 50px;
}

.container-columns-inside {
  width: 505px;
  height: 81px;
}

.texto {
  margin-left: 30px;
  color: var(--subtitulo-section);
}

/* SECTION 3 */

.container-home-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.subt-sect-3 {
  margin-bottom: 50px;
  text-align: center;
}

.card-1 {
  width: 321px;
  height: 444px;
  background-color: var(--container-columns-2);
  margin: 40px;
  padding: 60px;
}

.card-2 {
  width: 351px;
  height: 485px !important;
  padding: 60px;
  background-color: var(--container-columns-2);
}


.titulo-1 {
  font-family: Oswald, Bold;
  font-size: 55px;
  color: var(--titulo-color);
}

.titulo-2 {
  font-family: Oswald, Bold;
  font-size: 40px;
  color: var(--titulo-color);
  text-align: center;
}

.subtitulo-2 {
  color: var(--titulo-color);
  font-family: Oswald, Bold;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.txt-2 {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  color: var(--subtitulo-section);
}

/* SECTION 4 */

.container-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.subt-sect-3 {
  margin-bottom: 50px;
  text-align: center;
}

.card-3 {
  width: 351px;
  height: 400px !important;
  padding: 30px;
}

.card-4 {
  width: 351px;
  height: 400px !important;
  padding: 30px;
}

.card-5 {
  width: 351px;
  height: 400px !important;
  padding: 30px;
}


.titulo-1 {
  font-family: Oswald, Bold;
  font-size: 55px;
  color: var(--titulo-color);
  text-align: center;
}

.titulo-3 {
  font-family: Oswald, Bold;
  font-size: 40px;
  color: var(--titulo-color);
  text-align: center;
  margin-bottom: 15px;
}

.subtitulo-2 {
  color: var(--titulo-color);
  font-family: Oswald, Bold;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.txt-3 {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  color: var(--subtitulo-section);
}

/* MEDIA'S */

@media (max-width: 1940px) {
  .container-home-1 {
    display: block;
    width: 70%;
    margin-left: 10%;
    min-width: 50%;
  }

  .container-home-2 {
    display: block;
    width: 70%;
    margin-left: 10%;
    min-width: 50%;
  }

  #container-section-1 {
    display: inherit;
    margin-top: 50px;
    width: 90%;
    margin-bottom: 50px;
  }

  .section-1 {
    height: auto;
  }

  #container-2 {
    display: none;
  }

  .container-2 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .container-1 {
    width: 90%;
  }

  #titulo-planos {
    width: 100%;
    text-align: center;
  }

  .container-3 {
    width: 90%;
    margin-bottom: 50px;
  }

  .card-1 {
    padding: 40px;
    width: auto;
  }
  #container-1-planos{
    margin-top: 5px;
    width: 100%;
    text-align: center;
  }
  #titulo-contato{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .batata {
    display: inherit;
  }

  .container-home-1 {
    width: 650px;
  }

  .container-menu {
    display: none;
  }

  .container-2 {
    margin-left: 0px;
  }

  .card-1 {
    width: 40%;
    margin-right: 5px;
    margin-left: 5px;
  }

  .card-2 {
    width: 50%;
  }

  .container-3 {
    margin-left: 50px;
  }

  #titulo-contato {
    width: 500px;
  }
}
@media (max-width: 700px) {
  .background-2 {
    background-image: none;
  }
}
@media (max-width: 500px) {
  .container-home-1 {
    width: 650px;
    text-align: center;
  }

  .titulo-home-1 {
    text-align: left;
  }

  .container-home-2 {
    width: 580px;
    text-align: center;
  }

}


/*MEDIA DO NAVBAR*/

@media (max-height: 610px) {
  .subtitulo {
    font-size: 19px;
  }

  .theme-switch-wrapper {
    margin: 0px;
    margin-bottom: 40px;
    height: 10px;
  }

}

/* COMEÇO - MEDIA DO NAVBAR */
@media (max-width: 600px) {
    .navbar-nav .nav-link {
        padding-right: 80px;
    }

    .nav-item:last-child {
        margin-top: -50px;
    }

    .navbar {
        bottom: 0;
        height: 5rem;
        overflow: hidden;
        width: 100%;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

@media (max-width: 496px) {
    .navbar-nav .nav-link {
        padding-right: 50px;
    }
}

@media (max-width: 366px) {
    .navbar-nav .nav-link {
        padding-right: 25px;
    }

    .nav-item:last-child {
        margin-left: 10px;
    }
}

/* Large screens */
@media (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text {
        left: 0px;
    }

}
/* FIM - MEDIA DO NAVBAR*/