:root {
    --white: #FFFFFF;
    --black: #3f3f3f;

    --white2: #F6F6F6;
    --black2: #333333;

    --purple: #441CC1;
    --purple2: #6C63FF;

    --grey: #ACACAC;
    --grey2: #646464;

    --white3: #f1f1f1;
    --black3: #2B2B2B;

    --grey3: #D8D8D8;

    --white4: #dddddd;
    --black4: #272727;

    --red-bg: #FFDEDE;
    --red: #D46464;

    --green-bg: #DEFFEF;
    --green: #3D8B65;

    --blue-bg: #C3BFFF;
    --blue: #441CC1;

    --navbar-bg: #FFFFFF;
    --nav-link-color-h: white;

    --bg-sala-list: #ffffff;
    --container-list: white;
    --sala-nome: black;
    --boxlist-usu-list: var(--grey);
    --pesquisa: white;
    --form-input-bg: rgb(238, 238, 238);

    --container-bg-color: var(--white);
    --body-bg-color: var(--white2);
    --titulo-color: var(--purple);
    --input-switch: var(--grey3);
    --bolinha-switch: var(--white);
    --subtitulo-section: var(--black);
    --container-columns: var(--white4);
    --container-columns-2: var(--white);
}

[data-theme="dark"] {

    --red-bg: #e45656;
    --red: #ffffff;

    --green-bg: #41c082;
    --green: #ffffff;

    --blue-bg: #5349db;
    --blue: #ffffff;

    --navbar-bg: #393939;
    --nav-link-color-h: white;

    --bg-sala-list: #3f3f3f;
    --container-list: #333333;
    --sala-nome: white;
    --pesquisa: #3f3f3f;
    --form-input-bg: #3f3f3f;

    --boxlist-usu-list: white;

    --container-bg-color: var(--black);
    --body-bg-color: var(--black2);
    --titulo-color: var(--purple2);
    --input-switch: var(--black3);
    --bolinha-switch: var(--grey2);
    --subtitulo-section: var(--white);
    --subtitulo: var(--white);
    --container-columns: var(--black4);
    --container-columns-2: var(--black4);
}


body {
    background-color: var(--body-bg-color);
    font-family: Bahnschrift;
    height: 50rem;
    overflow-x: hidden;
    font-style: bold;
}

/*NAVBAR MODO ESCURO*/

.navbar-nav {
    background-color: var(--navbar-bg);
}

.nav-link {
    background-color: var(--navbar-bg);
    color: var(--subtitulo-section);
}


/*NAVBAR MODO ESCURO FIM*/

/*MODO ESCURO*/
/*USUARIO ADD*/
.select-semana option {
    color: var(--sala-nome) !important;
    background-color: var(--body-bg-color) !important;
}

.cds-inputs {
    color: var(--sala-nome) !important;
    background-color: var(--body-bg-color) !important;
}

.cds-options-horario {
    background-color: var(--body-bg-color) !important;
}

/*USUARIO ADD FIM*/

/*LOGIN*/
.fadeIn.second {
    color: var(--sala-nome);
}

.fadeIn.third {
    color: var(--sala-nome) !important;
}

/*LOGIN FIM*/
/*USUARIO LIST*/
.usuario-eye {
    background-color: var(--blue-bg);
    color: var(--blue);
}

.usuario-edit {
    background-color: var(--green-bg);
    color: var(--green);
}

.usuario-trash {
    background-color: var(--red-bg);
    color: var(--red);
}

.boxList {
    background-color: var(--bg-sala-list);
}

:is(.nomeList1,
    .emailList1,
    .cpfList1,
    .loginList1) {
    color: var(--sala-nome);
    border: none;
    overflow: hidden;
    word-wrap: break-word;
}

.tabela-controle {
    border: none;
}

/*MODO ESCURO FIM*/

/* -- COMEÇO NAVBAR-- */

.navbar {
    position: fixed;
    transition: width 300ms;
    overflow: hidden;
    z-index: 1;
    height: 110%;
    padding-top: 0px !important;
}

.navbar-nav {
    list-style: none;
    align-items: center;
    height: 110%;
    width: 100%;
}


.nav-item {
    width: 100%;
}

:is(.nav-item:nth-child(2),
    .nav-item:nth-child(3),
    .nav-item:nth-child(4),
    .nav-item:nth-child(5)) {
    padding-left: 20px;
}

.navbar-nav .nav-link {
    padding-right: 120px;
    padding-left: 5px;
}

.nav-link:nth-child(1) {
    padding-right: 150%;
}

.nav-link {
    padding-right: 120px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    width: 100%;
    font: bold;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
    padding-left: 10px;
    margin-left: -50px;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    font-size: 25px;
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}

.solar #solarIcon {
    display: block;
}

/*-- FINAL NAVBAR --*/


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /* transition: background-color 0.6s ease, color 1s ease; */
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: #6C63FF;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

.display-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
    align-items: center;
}

.direction-row {
    flex-direction: row;
}

.direction-column {
    flex-direction: column;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.icon {
    width: 20px;
}

.icon-usuarios {
    width: 35px;
    height: 20px;
}


.section-1 {
    height: 100vh;

}

/*slider switch css */
.theme-switch-wrapper {
    display: flex;
    align-items: center;

}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
    margin-top: 50px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider {
    background-color: #292929;
}

input:checked+.slider:before {
    transform: translateX(26px);
    background-color: rgb(146, 146, 146);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* --- LOGIN --- */
a {
    color: #6C63FF;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
}

.container {
    display: -webkit-box;
}

::placeholder {
    color: rgb(202, 200, 200);
}

.texto {
    margin-top: 185px;
    right: 750px;
    color: #6C63FF;
    position: absolute;
    margin-left: 200px;
    margin-right: 10px;
}

.subtexto {
    font-size: 20px;
    right: 750px;
    top: 370px;
    font-family: sans-serif;
    position: absolute;
    margin-left: 200px;
    margin-right: 10px;
    color: rgb(105, 101, 101);
}

.txtLogin {
    margin-top: 35px;
    font-family: Bahnschrift;
    color: #6C63FF;
}

.wrapper {
    align-items: center;
    display: flex;
    margin-left: 50px;
    width: 100%;
    padding: 20px;
    overflow-y: hidden;
}

.lb1 {
    display: block;
    margin-top: 25px;
    margin-left: 13%;
    text-align: left;
    width: 350px;
    font-size: 17px;
    color: rgb(114, 113, 113);
}
#formBox {
    border-radius: 6px;
    background-color: var(--container-bg-color);
    width: 90%;
    max-width: 405px;
    padding: 0px;
    text-align: center;
    position: absolute;
    overflow: hidden;
    right: 90px;
    top: 100px;
}

/* ESTILO EMAIL/SENHA */
.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
    opacity: 1;
    background-color: var(--body-bg-color);
    text-align: left;
    width: 300px;
    margin-top: 8px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 17px;
    border: 2px solid var(--body-bg-color);
    border-radius: 5px;
    outline: none;
}

.fadeIn.second:hover,
.fadeIn.second:focus {
    transition: all 0.4s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
    opacity: 1;
    background-color: var(--body-bg-color);
    text-align: left;
    width: 300px;
    margin-top: 8px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 17px;
    color: black;
    border: 2px solid var(--body-bg-color);
    border-radius: 5px;
    outline: none;
}

.fadeIn.third:hover,
.fadeIn.third:focus {
    transition: all 0.4s;
}

/* ESTILO DO LOGIN */
input[type=submit] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    outline: none;
    box-shadow: 0 10px 30px 0 rgba(66, 66, 66, 0.637);
    /* LOGIN DIMINUI */
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* LOGIN MUDA DE COR */
input[type=submit]:hover {
    background-color: #0e03da;
}

/* LOGIN DIMINUI */
input[type=submit]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

#formFooter {
    color: rgb(114, 113, 113);
    margin-top: 40px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 17px;
}

/* ANIMAÇÕES */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */


/*.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}*/


.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
    opacity: 1;
    justify-content: left;
    width: 300px;
    font-size: 17px;
    background-color: #6C63FF;
}

/* ANIMAÇÃO CADASTRE-SE */
.underlineHover {
    font-size: 17px;
    cursor: pointer;
}

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #554deb;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #544bff;
}

.underlineHover:hover:after {
    width: 100%;
}


/* --- CADASTRO --- */


.texto2 {
    font-family: sans-serif;
    position: absolute;
    margin-top: 150px;
    margin-left: 600px;
    color: #6C63FF;
}


.subtexto2 {
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    margin-top: 320px;
    margin-left: 600px;
    color: rgb(105, 101, 101);
}

.box {
    margin-left: 100px;
    margin-bottom: 65px;
    border-radius: 6px;
    background-color: var(--container-bg-color);
    width: 420px;
    position: relative;
    padding: 0px;
    text-align: center;
}

.txtCadastro {
    font-size: 35px;
    position: relative;
    padding-top: 35px;
    font-family: Bahnschrift;
    color: #6C63FF;
}

.lb2 {
    display: block;
    margin-top: 20px;
    margin-left: 15%;
    text-align: left;
    width: 350px;
    font-size: 17px;
    color: rgb(114, 113, 113);
}

/* INPUTS */
.form-control {
    background-color: var(--body-bg-color);
    border: none;
    color: #0d0d0d;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    border: 2px solid var(--body-bg-color);
    border-radius: 5px;
    outline: none;
}

.fotobtn {
    margin-left: 20px;
}

.cds-options-horario {
    width: 85%;
}

.select-semana {
    margin-top: 3rem;
}

/* ANIMAÇÃO INPUTS */
.form-control:hover {
    transition: all 0.4s;
    background-color: var(--container-columns-2);
}

.form-control::placeholder {
    color: rgb(202, 200, 200);
}

/* --- FINAL CADASTRO --- */

/* --- TELA LIST --- */
.container-usuario-list {
    margin: 10px;
}

.boxList {
    padding: 30px;
    padding-top: 15px;
    margin-top: 50px;
    border-radius: 10px;
    margin-left: 80px;
}

.nomeList {
    color: #6C63FF;
    font-family: sans-serif;
}

.cpfList {
    color: #6C63FF;
    font-family: sans-serif;
}

.emailList {
    color: #6C63FF;
    font-family: sans-serif;
}

.loginList {
    color: #6C63FF;
    font-family: sans-serif;
}

.addList {
    color: #6C63FF;
    font-family: sans-serif;
}

.btnAdd {
    border-radius: 6px;
    background-color: #56baed;
    color: white;
    padding: 5px 10px;
    font-family: sans-serif;
    transition: all 0.5s;
    font-style: none;
}

.btnAdd-R {
    display: none;
}

.tabela-controle1 {
    display: none;
}

/* BOTAO ADD MUDA DE COR */
.btnAdd:hover {
    background-color: #0e03da;
    color: white;
}

.btnAdd-R:hover {
    background-color: #0e03da;
    color: white;
}

.btn-group {
    transition: all 0.5s;
    padding: 8px 8px;
}

/* --- VIEW LIST --- */
.modal-content {
    background-color: var(--body-bg-color);
    color: var(--sala-nome);
}

.img-view {
    border-radius: 50%;
    border: 2px solid whitesmoke;
}

.profile-header {
    width: 100%
}

.profile-img {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.lbl-view-modal {
    margin-left: 5rem;
    display: block
}

#input-modal-view {
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    margin-left: 5rem;
    display: block;
    width: 19rem;
    border-radius: 5px;
    background-color: var(--bg-sala-list);
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 2px solid var(--bg-sala-list);
    outline: none;
    color: var(--sala-nome);
}

#input-modal-view1 {
    margin-top: 0.2rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
    display: block;
    width: 19rem;
    border-radius: 5px;
    background-color: var(--bg-sala-list);
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 2px solid var(--bg-sala-list);
    outline: none;
    color: var(--sala-nome);
}

.foto>img {
    max-width: 80% !important;
    max-height: 500px !important;
}

.ul-list-usu {
    padding-left: 0px !important;
}

:is(.form-group-usuario-view-li,
    .form-group-usuario-view) {
    background-color: var(--bg-sala-list) !important;
}

.form-group-usuario-view {
    text-align: center;
}

#fileImage {
    color: var(--sala-nome);
}

.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}
/* -- NAVBAR MEDIA -- */
/* MEDIA'S */
/*tira os :hovers do mobile*/
@media(hover: hover) {
    .nav-link:hover {
        background-color: var(--purple);
        color: var(--nav-link-color-h);
        filter: grayscale(0%) opacity(1);
        width: 100%;
        font: bold;
    }

    .nav-item:hover {
        padding-left: 0px;
    }
}

/*KAUAN*/
@media(max-width: 1210px) {
    .texto {
        bottom: 300px;
        left: auto;
    }
}

@media(max-width:1134px) {
    .btnAdd-R {
        display: initial;
        border-radius: 6px;
        background-color: #56baed;
        color: white;
        padding: 5px 10px;
        font-family: sans-serif;
        transition: all 0.5s;
        font-style: none;
        height: 400px;
        text-decoration: none;

    }

    .tabela-controle1 {
        height: 50px;
        padding: 0px !important;
        border: none;
    }

    td.tabela-controle {
        display: none !important;
    }

    .usuario-eye {
        color: #441cc1;
        float: left;
        width: 30%;
        height: 100%;
        text-align: center;
        padding-top: 12px;
        background-color: #C3BFFF;
        border-bottom-left-radius: 7px;
        border-top-left-radius: 7px;
    }

    .usuario-edit {
        float: left;
        width: 40%;
        height: 100%;
        text-align: center;
        padding-top: 12px;
    }

    .usuario-trash {
        float: right;
        width: 30%;
        height: 100%;
        text-align: center;
        padding-top: 12px;
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;
    }

    .usuario-eye:hover {
        background-color: white;
        border-right: none;
    }

    .usuario-edit:hover {
        background-color: white;
        border-left: none;
        border-right: none;
    }

    .usuario-trash:hover {
        background-color: white;
        border-left: none;
    }


    .table thead {
        display: none;
    }

    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
    }

    tr {
        margin-bottom: 50px !important;
        margin-left: 40px !important;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        position: relative;
        padding-left: 25%;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        text-align: left;
        font: 17px Bahnschrift, Bold;
    }
}

@media(max-width:1212px) {
    :is(.texto, .subtexto){
        display: none;
    }
}



@media(max-width:510px) {
    tr {
        margin-left: 0px;
    }

    .boxList {
        padding-left: 0px;
    }
}

/*KAUAN FIM*/

@media (max-width: 1081px) {
    .box {
        margin-left: 60px;
    }
}

@media (max-width: 962px) {
    .texto2 {
        font-size: 30px;
    }

    .subtexto2 {
        font-size: 16px;
        margin-top: 280px;
    }
}

@media (max-width: 901px) {
    .box {
        margin-left: 250px;
    }

    .texto2 {
        display: none;
    }

    .subtexto2 {
        display: none;
    }
}

@media (max-width: 810px) {

    .boxList {
        margin-left: 0px;
        margin-right: 5px;
        padding-left: 0px;
    }
}

@media (max-width: 768px) {
    .box {
        margin-left: 180px;
    }
}

@media (max-width: 730px) {
    .box {
        margin-left: 150px;
    }
}

@media (max-width: 600px) {
    .lb2 {
        margin-left: 25%;
    }

    .box {
        margin-left: -70px;
        margin-bottom: 100px;
        width: 600px;
    }



    .lb1 {
        margin-top: 15px;
    }

    .salas-card {
        height: 200px;
    }

    .container {
        margin-left: 1rem;
    }

    .ul-list-usu {
        padding-left: 35px !important;
        padding-right: 35px !important;
    }

    .btn-modal-voltar {
        margin-bottom: 10px;
    }

    .div-btn-voltar {
        width: 95%;
        text-align: center;
    }

    .container-modal-list-usuario {
        margin: 0px !important;
        padding: 0px !important;
    }

    :is(#input-modal-view,
        #input-modal-view1) {
        margin-left: 25px !important;
        margin-right: 30px !important;
        width: 90%;
    }

    .lbl-view-modal {
        margin-left: 25px;
    }
    #formBox{
        left: 10px !important;
        right: 10px !important;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }
    .wrapper{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .box {
        margin-left: -150px;
    }

    .salas-add-full {
        display: block;
        height: auto;
    }

    .sala-add-1 {
        width: 100%;
    }

    .sala-add-2 {
        width: 100%;
    }
}

@media (max-width: 460px) {
    .box {
        margin-left: -50px;
    }
    #formBox{
        width: 100%;
        position: inherit;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .wrapper{
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    .lb1{
        width: auto;
        display: grid;
        position: inherit;
    }
    .lb1 > input{
        width: auto;
        margin: 10px;      
    }
}

@media (max-width: 400px) {
    .box {
        margin-left: -28px;
    }
    .formBox{
        margin: 1px;
    }
    .lb1{
        margin: 10px;
        text-align: center;
    }
}

/*MEDIA DO NAVBAR*/
@media (max-height: 810px) {
    .theme-switch-wrapper {
        margin: 0px;
        margin-bottom: 20px;
        height: 10px;
    }
}

@media (max-width: 805px) {
    .nav-item:last-child {
        margin-top: -25px;
    }

    .nav-item .theme-switch-wrapper {
        margin-right: auto;
        margin-left: auto;
        float: right;

    }

    .navbar-nav .nav-link {
        padding: 0px;
        margin: 0px;
        width: auto;
        max-width: 10px;

    }

    .nav-item {
        margin: 0px;
        max-width: 150px;
        padding: 0px;
    }

    ul.navbar-nav {
        width: 100%;
        height: auto;
        padding: 0px;

    }

    .navbar {
        bottom: 0;
        height: 5rem;
        overflow: hidden;
        width: 100%;
    }

    .navbar-nav .nav-link {
        padding-right: 80px;
    }

    .theme-switch {
        margin-top: auto;
        margin-bottom: auto;
    }

    .navbar {
        bottom: 0;
        height: 5rem;
        overflow: hidden;
        width: 100%;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row !important;
    }

    .nav-link {
        padding: 0px;
    }

}

@media (max-width: 715px) {
    .container-3 {
        display: block;
    }

    .background-2 {
        background-image: none;
    }

    .container-home-1 {
        margin-bottom: auto;
    }

}

@media (max-width: 496px) {
    .navbar-nav .nav-link {
        padding-right: 50px;
    }
}

@media (max-width: 366px) {
    .navbar-nav .nav-link {
        padding-right: 25px;
    }

    .nav-item:last-child {
        margin-left: 10px;
    }
}

/* Large screens */
@media (min-width: 806px) {

    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 13.5rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text {
        left: 0px;
    }


}

/* FIM - MEDIA DO NAVBAR*/