:root{
    --white:#FFFFFF;
    --black:#393939;

    --white2:#F6F6F6;
    --black2:#333333;

    --purple:#441CC1;
    --purple2:#6C63FF;

    --grey:#ACACAC;
    --grey2:#646464;

    --white3:#f1f1f1;
    --black3:#2B2B2B;

    --grey3:#D8D8D8;

    --white4:#dddddd;
    --black4:#272727;

    --container-bg-color:var(--white);
    --body-bg-color:var(--white2);
    --titulo-color:var(--purple);
    --input-switch:var(--grey3);
    --bolinha-switch:var(--white);
    --subtitulo-section:var(--black);
    --container-columns:var(--white4);
    --container-columns-2:var(--white);
}

[data-theme="dark"]{
    --container-bg-color:var(--black);
    --body-bg-color:var(--black2);
    --titulo-color:var(--purple2);
    --input-switch:var(--black3);
    --bolinha-switch:var(--grey2);
    --subtitulo-section:var(--white);
    --container-columns:var(--black4);
    --container-columns-2:var(--black4);
}


body {
    background-color: var(--body-bg-color);
    font-family: Bahnschrift;
    height: 50rem;
    overflow: scroll;
    font-style: bold;
}

/* MENU - NAVBAR */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /* transition: background-color 0.6s ease, color 1s ease; */
  }

.show{
    display: block;
  }
  
  .hidden{
    display: none;
  }
  
  .display-flex{
    display: flex;
  }
  
  .justify-center{
    justify-content: center;
    align-items: center;
  }
  
  .direction-row{
    flex-direction: row;
  }
  
  .direction-column{
    flex-direction: column;
  }
  
  .red{
    background-color: red;
  }
  
  .blue{
    background-color: blue;
  }
  
  .container-all{
    display: flex;
  }
  
  .container-menu {
    width: 329px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:var(--container-bg-color);
    min-width: 329px;
  }
  
  .container {
    width: 329px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    background-color:var(--container-bg-color);
    min-width: 329px;
  }
  
  .container-item {
    display: flex;
    margin-top: 50px;
  }
  
  .titulo {
    font-family: Oswald, Bold;
    font-size: 40px;
    color: var(--titulo-color);
    text-align: center;
    margin-top: 60px;
  }
  
  .icon {
    width: 20px;
    height: 20px;
  }
  
  .icon-usuarios {
    width: 35px;
    height: 20px;
  }
  
  .subtitulo {
    font-family: Bahnschrift, Bold;
    font-size: 20px;
    color: #acacac;
    margin-left: 10px;
  }
  
  .button-login{
      width: 174px;
      height: 48px;
      border-radius: 30px;
      background-color: #6C63FF;
      border-style: none;
      margin-top: 50px;
      color: white;
      font-family: Bahnschrift, Bold;
      font-size: 20px;
      cursor: pointer;
  }
  
  .button-login:hover{
      background-color: #4943be;
  }
  
  .container-copyright{
      display: flex;
      margin-top: 50px;
  }
  
  .icon-copyright{
      width: 15px;
      height: 15px;
  }
  
  .titulo-copyright{
      font-family: Bahnschrift, Bold;
      color: #acacac;
      font-size: 17px;
      margin-left: 5px;
  }

  .section-1{
    height: 100vh;
  
  }

  /*slider switch css */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
  
  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
    margin-top: 50px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #292929;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
    background-color: rgb(146, 146, 146);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

/* MENU - NAVBAR */

/* --- LOGIN --- */
a {
    color: #6C63FF;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
}

.container-2 {
    display: -webkit-box;
}

::placeholder {
    color: rgb(202, 200, 200);
}

.texto {
    margin-left: 200px;
    margin-top: 185px;
    color: #6C63FF;
}

.subtexto {
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    margin-top: 330px;
    margin-left: 200px;
    color: rgb(105, 101, 101);
}

/* ESTRUTURA */

.txtLogin {
    margin-top: 35px;
    font-family: Bahnschrift;
    color: #6C63FF;
}

.wrapper {
    align-items: center;
    display: flex;
    margin-left: 50px;
    width: 100%;
    padding: 20px;
}

/*#form1 {
    color: rgb(114, 113, 113);
    margin-left: 50px;
    display: grid;
    text-align: left;
    padding: 20px;
    width: 350px;
    font-size: 17px;
}*/

.lb1 {
    display: block;
    margin-top: 25px;
    margin-left: 13%;
    text-align: left;
    width: 350px;
    font-size: 17px;
    color: rgb(114, 113, 113);
}

#formBox {
    margin-top: 60px;
    border-radius: 6px;
    background-color:var(--container-bg-color);
    padding: 30px;
    width: 90%;
    max-width: 405px;
    position: relative;
    padding: 0px;
    text-align: center;
}

/* ESTILO EMAIL/SENHA */
.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
    opacity: 1;
    background-color: var(--body-bg-color);
    text-align: left;
    width: 300px;
    margin-top: 8px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 17px;
    color: black;
    border: 2px solid  var(--body-bg-color);
    border-radius: 5px;
    outline: none;
}

.fadeIn.second:hover,
.fadeIn.second:focus {
    transition: all 0.4s;
    background-color: #ffffff;
    border-color: silver;
}

.fadeIn.third {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
    opacity: 1;
    background-color:  var(--body-bg-color);
    text-align: left;
    width: 300px;
    margin-top: 8px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 17px;
    color: black;
    border: 2px solid  var(--body-bg-color);
    border-radius: 5px;
    outline: none;
}

.fadeIn.third:hover,
.fadeIn.third:focus {
    transition: all 0.4s;
    background-color: #ffffff;
    border-color: silver;
}

/* ESTILO DO LOGIN */
input[type=submit] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    outline: none;
    box-shadow: 0 10px 30px 0 rgba(66, 66, 66, 0.637);
    /* LOGIN DIMINUI */
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* LOGIN MUDA DE COR */
input[type=submit]:hover {
    background-color: #0e03da;
}

/* LOGIN DIMINUI */
input[type=submit]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

#formFooter {
    color: rgb(114, 113, 113);
    margin-top: 40px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 17px;
}

/* ANIMAÇÕES */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */


/*.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}*/


.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
    opacity: 1;
    justify-content: left;
    width: 300px;
    font-size: 17px;
    background-color: #6C63FF;
}

/* ANIMAÇÃO CADASTRE-SE */
.underlineHover {
    font-size: 17px;
}

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #554deb;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #544bff;
}

.underlineHover:hover:after {
    width: 100%;
}


/* --- CADASTRO --- */

/*#lbcodigo {
}

.form-control1 {
}*/

.texto2 {
    font-family: sans-serif;
    position: absolute;
    margin-top: 200px;
    margin-left: 750px;
    color: #6C63FF;
}


.subtexto2 {
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    margin-top: 400px;
    margin-left: 750px;
    color: rgb(105, 101, 101);
}

.box {
    margin-top: 60px;
    margin-left: 170px;
    border-radius: 6px;
    background-color:var(--container-bg-color);
    padding: 30px;
    width: 420px;
    position: relative;
    padding: 0px;
    text-align: center;
}

.txtCadastro {
    font-size: 35px;
    position: relative;
    padding-top: 35px;
    font-family: Bahnschrift;
    color: #6C63FF;
}

.lb2{
    display: block;
    margin-top: 20px;
    margin-left: 15%;
    text-align: left;
    width: 350px;
    font-size: 17px;
    color: rgb(114, 113, 113);
}

/* INPUTS */
.form-control {
    background-color:var(--body-bg-color);;
    border: none;
    color: #0d0d0d;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    border: 2px solid var(--body-bg-color);
    border-radius: 5px;
    outline: none;
}

/* ANIMAÇÃO INPUTS */
.form-control:hover {
    transition: all 0.4s;
    background-color: var(--container-columns-2);
}

.form-control::placeholder {
    color: rgb(202, 200, 200);
}

/* --- TELA LIST --- */

.boxList {
    padding: 30px;
    background-color: white;
    margin-top: 50px;
    margin-left: 50px;
    border: solid 2px white;
    border-radius: 10px;
}

.nomeList {
    color: #6C63FF;
    font-family: sans-serif;
}

.cpfList {
    color: #6C63FF;
    font-family: sans-serif;
}

.emailList {
    color: #6C63FF;
    font-family: sans-serif;
}

.loginList {
    color: #6C63FF;
    font-family: sans-serif;
}

.addList {
    color: #6C63FF;
    font-family: sans-serif;
}

.btnAdd {
    border: 2px solid white;
    border-radius: 6px;
    background-color: #56baed;
    color: white;
    padding: 5px 10px;
    font-family: sans-serif;
    transition: all 0.5s;
    font-style: none;
}

/* BOTAO ADD MUDA DE COR */
.btnAdd:hover {
    background-color: #0e03da;
    color: white;
}

.nomeList1 {
    color: rgb(114, 113, 113);
}

.cpfList1 {
    color: rgb(114, 113, 113);
}

.emailList1 {
    color: rgb(114, 113, 113);
}

.loginList1 {
    color: rgb(114, 113, 113);
}

.btn-group {
    transition: all 0.5s;
    padding: 8px 8px;
}

/* --- VIEW LIST --- */
.img-view {
    border-radius: 50%;
    border: 2px solid whitesmoke;
}

.profile-header {
    width: 100%
}

.profile-img {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.lbl-view-modal {
    margin-left: 5rem;
    display: block
}

#input-modal-view {
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    margin-left: 5rem;
    display: block;
    width: 19rem;
    border-radius: 5px;
    background-color: #f6f6f6;
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 2px solid #f6f6f6;
    outline: none;
}

#input-modal-view1 {
    margin-top: 0.2rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
    display: block;
    width: 19rem;
    border-radius: 5px;
    background-color: #f6f6f6;
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 2px solid #f6f6f6;
    outline: none;
}