body {
    background-color: #F1F1F1;
    font-family: Bahnschrift;
    height: 50rem;
    overflow: scroll;
    font-style: bold;
}

/* --- LOGIN --- */
a {
    color: #6C63FF;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
}

.container {
    display: -webkit-box;
}

::placeholder {
    color: rgb(202, 200, 200);
}

.texto {
    margin-left: 200px;
    margin-top: 185px;
    color: #6C63FF;
}

.subtexto {
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    margin-top: 330px;
    margin-left: 200px;
    color: rgb(105, 101, 101);
}

/* ESTRUTURA */

.txtLogin {
    margin-top: 35px;
    font-family: Bahnschrift;
    color: #6C63FF;
}

.wrapper {
    align-items: center;
    display: flex;
    margin-left: 50px;
    width: 100%;
    padding: 20px;
}

/*#form1 {
    color: rgb(114, 113, 113);
    margin-left: 50px;
    display: grid;
    text-align: left;
    padding: 20px;
    width: 350px;
    font-size: 17px;
}*/

.lb1 {
    display: block;
    margin-top: 25px;
    margin-left: 13%;
    text-align: left;
    width: 350px;
    font-size: 17px;
    color: rgb(114, 113, 113);
}

#formBox {
    margin-top: 60px;
    border-radius: 6px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 405px;
    position: relative;
    padding: 0px;
    text-align: center;
}

/* ESTILO EMAIL/SENHA */
.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
    opacity: 1;
    background-color: #f6f6f6;
    text-align: left;
    width: 300px;
    margin-top: 8px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 17px;
    color: black;
    border: 2px solid #f6f6f6;
    border-radius: 5px;
    outline: none;
}

.fadeIn.second:hover,
.fadeIn.second:focus {
    transition: all 0.4s;
    background-color: #ffffff;
    border-color: silver;
}

.fadeIn.third {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
    opacity: 1;
    background-color: #f6f6f6;
    text-align: left;
    width: 300px;
    margin-top: 8px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 17px;
    color: black;
    border: 2px solid #f6f6f6;
    border-radius: 5px;
    outline: none;
}

.fadeIn.third:hover,
.fadeIn.third:focus {
    transition: all 0.4s;
    background-color: #ffffff;
    border-color: silver;
}

/* ESTILO DO LOGIN */
input[type=submit] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    outline: none;
    box-shadow: 0 10px 30px 0 rgba(66, 66, 66, 0.637);
    /* LOGIN DIMINUI */
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* LOGIN MUDA DE COR */
input[type=submit]:hover {
    background-color: #0e03da;
}

/* LOGIN DIMINUI */
input[type=submit]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

#formFooter {
    color: rgb(114, 113, 113);
    margin-top: 40px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 17px;
}

/* ANIMAÇÕES */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */


/*.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}*/


.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
    opacity: 1;
    justify-content: left;
    width: 300px;
    font-size: 17px;
    background-color: #6C63FF;
}

/* ANIMAÇÃO CADASTRE-SE */
.underlineHover {
    font-size: 17px;
}

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #554deb;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #544bff;
}

.underlineHover:hover:after {
    width: 100%;
}


/* --- CADASTRO --- */

/*#lbcodigo {
}

.form-control1 {
}*/

.texto2 {
    font-family: sans-serif;
    position: absolute;
    margin-top: 200px;
    margin-left: 750px;
    color: #6C63FF;
}


.subtexto2 {
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    margin-top: 400px;
    margin-left: 750px;
    color: rgb(105, 101, 101);
}

.box {
    margin-top: 60px;
    margin-left: 170px;
    border-radius: 6px;
    background: #fff;
    padding: 30px;
    width: 420px;
    position: relative;
    padding: 0px;
    text-align: center;
}

.txtCadastro {
    font-size: 35px;
    position: relative;
    padding-top: 35px;
    font-family: Bahnschrift;
    color: #6C63FF;
}

.lb2{
    display: block;
    margin-top: 20px;
    margin-left: 15%;
    text-align: left;
    width: 350px;
    font-size: 17px;
    color: rgb(114, 113, 113);
}

/* INPUTS */
.form-control {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    border: 2px solid #f6f6f6;
    border-radius: 5px;
    outline: none;
}

/* ANIMAÇÃO INPUTS */
.form-control:hover {
    transition: all 0.4s;
    background-color: #ffffff;
    border-color: silver;
}

.form-control::placeholder {
    color: rgb(202, 200, 200);
}

/* --- TELA LIST --- */

.boxList {
    padding: 30px;
    background-color: white;
    margin-top: 50px;
    margin-left: 50px;
    border: solid 2px white;
    border-radius: 10px;
}

.nomeList {
    color: #6C63FF;
    font-family: sans-serif;
}

.cpfList {
    color: #6C63FF;
    font-family: sans-serif;
}

.emailList {
    color: #6C63FF;
    font-family: sans-serif;
}

.loginList {
    color: #6C63FF;
    font-family: sans-serif;
}

.addList {
    color: #6C63FF;
    font-family: sans-serif;
}

.btnAdd {
    border: 2px solid white;
    border-radius: 6px;
    background-color: #56baed;
    color: white;
    padding: 5px 10px;
    font-family: sans-serif;
    transition: all 0.5s;
    text-style: none;
}

/* BOTAO ADD MUDA DE COR */
.btnAdd:hover {
    background-color: #0e03da;
    color: white;
}

.nomeList1 {
    color: rgb(114, 113, 113);
}

.cpfList1 {
    color: rgb(114, 113, 113);
}

.emailList1 {
    color: rgb(114, 113, 113);
}

.loginList1 {
    color: rgb(114, 113, 113);
}

.btn-group {
    transition: all 0.5s;
    padding: 8px 8px;
}