:root {
    --white: #FFFFFF;
    --black: #3f3f3f;

    --white2: #F6F6F6;
    --black2: #333333;

    --purple: #441CC1;
    --purple2: #6C63FF;

    --grey: #ACACAC;
    --grey2: #646464;

    --white3: #f1f1f1;
    --black3: #2B2B2B;

    --grey3: #D8D8D8;

    --white4: #dddddd;
    --black4: #272727;

    --red-bg: #FFDEDE;
    --red: #D46464;

    --green-bg: #DEFFEF;
    --green: #3D8B65;

    --blue-bg: #C3BFFF;
    --blue: #441CC1;

    --navbar-bg: #FFFFFF;
    --nav-link-color-h: white;
    --btn-filtro: #6C63FF;

    --bg-sala-list: #ffffff;
    --container-list: white;
    --sala-nome: black;
    --boxlist-usu-list: var(--grey);
    --pesquisa: white;
    --form-input-bg: rgb(238, 238, 238);

    --container-bg-color: var(--white);
    --body-bg-color: var(--white2);
    --titulo-color: var(--purple);
    --input-switch: var(--grey3);
    --bolinha-switch: var(--white);
    --subtitulo-section: var(--black);
    --container-columns: var(--white4);
    --container-columns-2: var(--white);
}

[data-theme="dark"] {

    --red-bg: #e45656;
    --red: #ffffff;

    --green-bg: #41c082;
    --green: #ffffff;

    --blue-bg: #5349db;
    --blue: #ffffff;

    --navbar-bg: #393939;
    --nav-link-color-h: white;

    --bg-sala-list: #3f3f3f;
    --container-list: #333333;
    --sala-nome: white;
    --pesquisa: #3f3f3f;
    --form-input-bg: #3f3f3f;
    --btn-filtro: #6C63FF;

    --boxlist-usu-list: white;

    --container-bg-color: var(--black);
    --body-bg-color: var(--black2);
    --titulo-color: var(--purple2);
    --input-switch: var(--black3);
    --bolinha-switch: var(--grey2);
    --subtitulo-section: var(--white);
    --subtitulo: var(--white);
    --container-columns: var(--black4);
    --container-columns-2: var(--black4);
}


/*scrollbar personalizada*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: 10px;
}

/*slider switch css */

body {
    background-color: var(--body-bg-color);
    font-family: Bahnschrift;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/*NAVBAR MODO ESCURO*/

.navbar-nav {
    background-color: var(--navbar-bg);
}

.nav-link {
    background-color: var(--navbar-bg);
    color: var(--subtitulo-section);
}

/*NAVBAR MODO ESCURO FIM*/
/*MODO ESCURO*/
/*SALA LIST*/
.container-salas {
    background-color: var(--bg-sala-list);
}

.salas-nome {
    color: var(--sala-nome);
}

#pesquisa {
    background-color: var(--body-bg-color);
    border: var(--pesquisa-bg) solid 2px;
    color: var(--sala-nome);
}

.btn-filtro {
    background-color: var(--btn-filtro);
    border: 1px solid var(--btn-filtro);
    color: white !important;
}

.btn-filtro:hover,
.btn-filtro:focus {
    color: #6C63FF var(--btn-filtro);
}

.link-edit:hover {
    background-color: #3D8B65 !important;
}

.link-delete:hover {
    background-color: #D46464 !important;
}

/*SALA LIST FIM*/
/*SALA ADD*/
.salas-add-full {
    background-color: var(--bg-sala-list);
    color: var(--grey);
}

:is(.form-input, .form-select) {
    border: 1px solid var(--body-bg-color);
    background-color: var(--body-bg-color);
    color: var(--sala-nome);
}

.label-cores {
    background-color: var(--body-bg-color);
    border: 1px solid var(--body-bg-color) !important;
}


/*SALA ADD FIM*/

/*MODO ESCURO FIM*/

.theme-switch-wrapper {
    display: flex;
    align-items: center;

}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
    margin-top: 50px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    width: 26px;
}

input:checked+.slider {
    background-color: #292929;
}

input:checked+.slider:before {
    transform: translateX(26px);
    background-color: rgb(146, 146, 146);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* -- COMEÇO NAVBAR-- */

.navbar {
    position: fixed;
    transition: width 300ms;
    overflow: hidden;
    z-index: 1;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.navbar-nav {
    list-style: none;
    padding-right: 120px;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

:is(.nav-item:nth-child(2),
    .nav-item:nth-child(3),
    .nav-item:nth-child(4),
    .nav-item:nth-child(5)) {
    padding-left: 20px;
}

.navbar-nav .nav-link {
    padding-right: 120px;
    padding-left: 5px;
}

.nav-link {
    padding-right: 120px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
    padding-left: 10px;
    margin-left: -50px;
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

/*-- FINAL NAVBAR --*/

/* LIST SALA*/
.container {
    margin-left: 5rem;
    width: 100%;
}

.container-salas {
    padding: 1.5rem;
    margin-top: 4.5rem;
    width: 65%;
    height: auto;
    border-radius: 7px;
}

.container-pessoas {
    background-color: #FBFBFB;
}

.btn-sair {
    background-color: var(--red-bg);
    color: var(--red);
    border: none;
    width: 6rem;
    height: 2.1rem;
    border-radius: 7px;
    margin-right: 2%;
    outline: none !important;
}

.btn-convidar {
    background-color: var(--green-bg);
    color: var(--green);
    border: none;
    width: 6rem;
    height: 2.1rem;
    border-radius: 7px;
    margin-right: 2%;
    outline: none !important;
}

.btn-novo {
    background-color: var(--blue-bg);
    color: var(--blue);
    border: none;
    width: 6rem;
    height: 2.1rem;
    border-radius: 7px;
    margin-right: 2%;
    outline: none !important;
}

.btn-group {
    padding-left: 30%;

}

.salas-nome {
    width: 20%;
    display: inline;
}

.salas-card {
    padding-top: 1.5rem;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    max-height: 340px;
}

.input-group {
    width: 100%;
}

.card-sala {
    background-color: var(--purple2);
    color: white;
    padding-top: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

:is(.card-body,
    .card-title) {
    padding-left: 10px;
}

:is(.card-title:hover,
    .link-delete:hover,
    .link-edit:hover) {
    cursor: pointer;
}

.card-bottom {
    width: 100%;
}

.card-bottom>i:nth-child(1) {
    float: left;
    width: 50%;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 7px;
    text-align: center;
    background-color: var(--purple2);
    border-bottom-left-radius: 10px;
}

.card-bottom>i:nth-child(2) {
    float: right;
    width: 50%;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 7px;
    text-align: center;
    background-color: var(--purple2);
    border-bottom-right-radius: 10px;
}

.card-bottom>i:nth-child(1):hover {
    background-color: var(--red);
}

.card-bottom>i:nth-child(2):hover {
    background-color: var(--green);
}

.card-body-nova-sala {
    height: 120px;
    text-align: center;
    font-size: 20px;
    padding-top: 40px;
    background-color: none;
    color: #dbdbdb;
    border: 2 px solid black;
    border-radius: 10px;
    border-style: dashed;
}

.bg-d {
    background-color: black;
}

.dropdown-item:hover {
    background-color: #0dcaf0;
    border-radius: 7px;
}

.btn-del-view {
    display: inline;
}

.icon-eye {
    display: inline;
    width: 100%;
}

.icon-trash {
    display: inline;
    width: 100%;
}

#pesquisa {
    padding: 0px;
    padding-left: 10px;
    margin: 0px;
    margin-top: 20px;
    width: 100%;
    height: 2rem;
    border-radius: 7px;
    outline: none;
}


/* ADD SALA*/
.salas-add-full {
    padding: 15px;
    padding-left: 25px;
    margin-top: 2.5rem;
    width: auto;
    max-width: 75%;
    height: 35.1rem;
    border-radius: 7px;
    display: flex;
    margin-left: 100px;
}

.form-input {
    padding: 10px;
    border-radius: 4px;
    height: 40px;
    outline: none !important;
    width: 95%;
}

.sala-add-1 {
    width: 50%;
    height: 500px;
}

.sala-add-1>input {
    width: 95%;
    outline: none !important;
}

.sala-add-2 {
    width: 50%;
    height: 500px;
}

.form-select {
    width: 95%;
}

.head-cores {
    border-radius: 5px;
    margin-top: 24px;
}

.label-cores {
    width: 100%;
    text-align: center;
}

.body-cores {
    width: 100%;
}

.sala-add-btn {
    margin-top: 400px;
    width: 100%;
}

.btn-add-sala {
    height: 50px;
    width: 100%;
    background-color: rgb(199, 155, 255);
    color: rgb(75, 0, 174);
}

.btn {
    padding: 8px;
    margin: 5px;
    border: none;
}
.modal-header{
    border-bottom: none !important;
}
.modal-footer{
    border-top: none !important;
}
/* --- CAETANO --- */
/* VIEW */
.modal-content {
    -webkit-animation-name: modal-content;
    animation-name: modal-content;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-color: var(--body-bg-color);
    color: var(--sala-nome);
}

:is(input.form-control, input.form-control:hover, input.form-control:focus, select.form-control) {
    background-color: var(--bg-sala-list) !important;
    border: 1px solid var(--bg-sala-list);
    color: var(--sala-nome);
}

:is(.btn-add-hora-salvar, .btn-add-hora-salvar:hover, .btn-add-hora-cancelar, .btn-add-hora-cancelar:hover) {
    background-color: var(--btn-filtro) !important;
    color: var(--sala-nome);
}

@-webkit-keyframes modal-content {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes modal-content {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.tituloModal {
    font-size: 2rem;
    color: blue;
    text-align: center;
    margin-top: 2rem;
}

.lblview1 {
    margin-left: 3rem;
    margin-top: 1rem;
}

.lblview {
    margin-left: 3rem;
    margin-top: 0.5rem;
}

.lblview-h {
    display: none;
}

.form-control {
    width: 80%;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 0.5rem;
}

.form-control-h {
    display: none;
}

/* EDIT */

.tituloModal {
    font-size: 2rem;
    color: blue;
    text-align: center;
    margin-top: 2rem;
}

.lbledit-h {
    display: none;
}

.lbledit1 {
    margin-left: 3rem;
    margin-top: 1rem;
}

.lbledit {
    margin-left: 3rem;
    margin-top: 0.5rem;
}

.btn-add-hora-cancelar {
    margin-left: 8rem;
    margin-bottom: 1rem;
}

.btn-add-hora-salvar {
    margin-left: 3rem;
    margin-bottom: 1rem;
}

/* NAVBAR MODO ESCURO */

/* NAVBAR MODO ESCURO FIM */

/*MODO ESCURO FIM*/


/*MEDIAS*/
@media(hover: hover) {
    .nav-link:hover {
        background-color: var(--purple);
        color: var(--nav-link-color-h);
        filter: grayscale(0%) opacity(1);
        width: 100%;
        font: bold;
    }

    .nav-item:hover {
        padding-left: 0px;
    }
}

@media (max-width: 1110px) {
    .container-salas {
        width: 90%;
        height: 95%;
        margin-left: 10px;
        margin-right: 40px;
        margin-top: 15spx;
    }

    .btn-group {
        display: block;
        padding: 0px;
    }

    .salas-head {
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .container-salas {
        width: 90%;
        height: 95%;
        margin: 20px;
    }

    .container-salas {
        width: 90%;
        height: 95%;
        margin: 20px;
    }

    .salas-add-full {
        margin-right: 20px;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .salas-add-full {
        margin-top: 40px;
    }

    .container {
        width: 100%;
        margin-left: 5rem;
        margin-right: 20px;
    }

    .container-menu {
        display: none;
    }
}

@media (max-width: 600px) {
    .salas-card {
        height: 200px;
    }

    .container {
        margin-left: 0px;
    }

    .salas-add-full {
        margin-left: 20px;
        margin-top: 5px;
    }
}

@media (max-width: 500px) {
    .salas-add-full {
        display: block;
        height: auto;
        margin-bottom: 60px;
    }

    .sala-add-1 {
        width: 100%;
    }

    .sala-add-2 {
        width: 100%;
    }

    .sala-add-2 {
        height: 352px;
    }

    .sala-add-btn {
        margin-top: 250px;
    }

    .label-cores {
        width: 100%;
    }

    :is(.form-input .form-input-titulo,
        .form-input .form-input-local,
        .form-input .form-input-descricao,
        .form-select,
        .form-input .form-input-horario,
        .form-input) {
        width: 100%;
    }
}

/* COMEÇO - MEDIA DO NAVBAR */
@media (max-width: 600px) {
    .nav-item:last-child {
        margin-top: -50px;
    }

    .nav-item .theme-switch-wrapper {
        margin-right: auto;
        margin-left: auto;
        float: right;
    }

    .navbar-nav .nav-link {
        padding: 10px;
        margin: 0px;
        width: auto;
    }

    .nav-item {
        padding: 10px;
        margin: 0px;
    }

    ul.navbar-nav {
        width: 100%;
        height: auto;
        padding: 0px;
    }

    .navbar {
        bottom: 0;
        height: 5rem;
        overflow: hidden;
        width: 100%;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

@media (max-width: 380px) {
    .navbar-nav .nav-link {
        padding: 0px;
    }

    .nav-item {
        padding: 10px;
    }

    :is(.nav-item:nth-child(2),
        .nav-item:nth-child(3),
        .nav-item:nth-child(4),
        .nav-item:nth-child(5)) {
        padding: 0px;
    }

    ul.navbar-nav {
        padding: 0px;
    }
}

/* Large screens */
@media (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 13.5rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text {
        left: 0px;
    }

}

/* FIM - MEDIA DO NAVBAR*/